.fc-calendar {
    width: 320px;
    background: #1b1b1b;
    box-shadow: 4px 4px 20px 0px #0000004d;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 16px 24px;
    box-sizing: border-box;
    // 禁止反白
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    // 年分
    .year-title {
        // font-family: "Inter";
        font-weight: 700;
        font-size: 32px;
        line-height: 137.5%;
    }

    // 1.月份 或 2.年標題
    .sub-title {
        // font-family: "Inter";
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        // text-align: center;
        display: flex;
        justify-content: space-between;
        margin: 24px 0 12px;

        .go-last-btn {
            cursor: pointer;
        }
        .go-next-btn {
            cursor: pointer;
        }
        .go-year-btn {
            cursor: pointer;
        }
    }

    // 日期列表
    .date-list {
        display: flex;
        flex-wrap: wrap;

        .week {
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            margin-bottom: 2px;
        }

        .date {
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            &.next-month,
            &.last-month {
                opacity: 0.5;
            }
            box-sizing: border-box;
            // border: 1px solid red;
            margin-bottom: 2px;
            border-radius: 50%;
            &:hover {
                background-color: #fff;
                color: #080808;
                cursor: pointer;
            }
            &.pre-selected-date {
                border: 1px solid #00a3ff;
            }
            &.selected-date {
                background-color: #00a3ff;
            }
        }
    }

    // 年份列表
    .year-list {
        display: flex;
        flex-wrap: wrap;

        .year {
            width: 68px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            // background: #00a3ff;
            border-radius: 2px;
            box-sizing: border-box;
            padding: 0 10px;
            margin-bottom: 20px;
            &:hover {
                background-color: #fff;
                color: #080808;
                cursor: pointer;
            }
            &.selected-year {
                background-color: #00a3ff;
            }
        }
    }

    // 按鈕
    button {
        color: #fff;
        font-weight: 600;
    }
}
